<html>
  <head>
    <title>Make Sure</title>

    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}" />

  </head>
  <body>
    <div class="main_container">
        <h1 class="main_header">Make Sure / Server part</h1>
        <p>
            Данная страница создана с целью тестировния работы серверной части приложения “Make Sure”. 
            Более подробно описано в содержании.
        </p>
        <h2>Содержание:</h2>
        <ul>
            <li><a href="https://github.com/MakeSureApp/workhorse/blob/main/README.md">Документация по функционалу(GitHub)</a></li>
            <li><a href="/testing_qr">Тестирование работы распознавания QR-кодов</a></li>
            <li><a href="/testing_type">Тестирование работы распознавания типов теста</a></li>
            <li><a href="/testing_result">Тестирование работы распознавания результатов теста</a></li>
            <li><a href="http://82.146.56.214:3000/d/_se4ve4/server-dashboard?orgId=1&from=1688300938013&to=1688301271575">Дашборд работы запросов</a></li>
        </ul>
    </div>  
  </body>
</html>